/* import font family Roboto */

@import url("https://fonts.googleapis.com/css?family=Roboto");

/* body css */

body {
    font-family: "Roboto", sans-serif;
    background-color: #dfdfdf;
    
}


/* header css */

.centerlogo {
    height: 100px;
    width: 100px;
    justify-content: center;
}

.centerLS {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #0275d8;
}

.nav-link:hover {
    color: #000;
}

.container-fluid {
    background-color: #dfdfdf;
}



/* header search css  */

.searchInput {
    border-color: #0275d8 !important;
}


.btnsearch {
    background-color: #fff;
    border-color: #fff;
}

.btnsearch:hover {
    background-color: #fff; 
    border-color: #0275d8;
}

.btnsearch:active {
    background-color: #fff !important;
}

.fa-search {
    cursor: pointer;
    border: none;
    color: #0275d8;
}

/* header_2 css */

.header-2-list {
    list-style: none;
    padding: 20px;
}

.generalContainer {
    background-color: #fff ;
    /* Overflow hidden to float category list and main section elements without losing background color */
    overflow: hidden; 
}

/* search category css */

.sideNav {
    width: 220px;
    float: left;
}

.category-list {
    list-style: none;
    padding: 20px;
    width: 100%;
    background-color: #dfdfdf;
    margin-left: 20px;
    margin-bottom: 20px;
}    

.category-links {
    font-size: 14px;
    color: #000;
}

.category-links:hover {
    text-decoration: none;
    color: #0275d8;
    font-weight: bold;
}

/* main_section css */

.mainSection {
    float: left;
    padding-left: 55px;
}