/* import font family Roboto */

@import url("https://fonts.googleapis.com/css?family=Roboto");

/* body css */

body {
    font-family: "Roboto", sans-serif;
}

/* header css */

.centerlogo {
    height: 100px;
    width: 100px;
    justify-content: center;
}

.centerLS {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #0275d8;
}

.nav-link:hover {
    color: #000;
}

.container-fluid {
    background-color: #bfbfbf;
}


/* header search css  */

.searchInput {
    border-color: #0275d8 !important;
}


.btnsearch {
    background-color: #fff;
    border-color: #fff;
}

.btnsearch:hover {
    background-color: #fff; 
    border-color: #0275d8;
}

.btnsearch:active {
    background-color: #fff !important;
}

.fa-search {
    cursor: pointer;
    border: none;
    color: #0275d8;
}

