/* import font family Roboto */

@import url("https://fonts.googleapis.com/css?family=Roboto");

/* body css */

body {
    font-family: 'Roboto', 'sans-serif', 'Times New Roman', 'Times', 'serif';
    background-color: #dfdfdf;
}


/* header css */

.centerlogo {
    height: 100px;
    width: 100px;
    justify-content: center;
}

.centerLS {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #0275d8;
}

.nav-link:hover{
    color: #000;
    transition: 700ms;
}


/* header search css  */

.searchInput {
    border-color: #0275d8 !important;
}


.btnsearch {
    background-color: #fff;
    border-color: #fff;
    transition: 1000ms;
}

.btnsearch:hover {
    background-color: #fff; 
    border-color: #0275d8;
    transition: 1000ms;
}

.btnsearch:active {
    background-color: #fff !important;
}

.fa-search {
    cursor: pointer;
    border: none;
    color: #0275d8;
}

/* header_2 css */

.header-2-list {
    list-style: none;
    padding: 20px;
}

.generalContainer {
    background-color: #fff ;
    /* Overflow hidden to float category list and main section elements without losing background color */
    overflow: hidden; 
}

/* header loggedin css */

/* user link animation */

.user{
    position: relative;
    display: inline-block;
}

.user:hover{
    color:#0275d8;
}

.user::before {
    position: absolute;
    content: attr(data-content); /* Prints the value of the attribute */
    color: #000;
    overflow: hidden;
    transition: 700ms ease;
    text-decoration: underline;
    width: 0px;
}
 

.user:hover::before {
    width: 100px;
}

.fa-user-cog {
    color:#000;
}

/* search category css */

.sideNav {
    width: 220px;
    float: left;
}

.category-list {
    list-style: none;
    padding: 20px;
    width: 100%;
    background-color: #dfdfdf;
    margin-left: 20px;
    margin-bottom: 20px;
}    

.category-links {
    font-size: 14px;
    color: #000;
    transition: 200ms;
}

.category-links:hover {
    text-decoration: none;
    color: #0275d8;
    font-weight: bold;
    transition: 200ms;
    text-decoration-line: underline !important;
}

/* main_section css */

.mainSection {
    float: left;
    /* δεν χρειάζεται μετά τη διόρθωση με τα classes του bootsrap */
}

.card {
    border: none;
}
/* login, signup css */

.loginInput {
    width: 300px;
}

.roundedForms {
    border-radius: 15px 50px;
    border: 2px solid #0275d8;
}


/* footer css */

.footer-list {
    list-style: none;
    padding: 20px;
    width: 100%;
    /* background-color: #dfdfdf; */
    margin-left: 20px;
    margin-bottom: 20px;
}    

.footer-links {
    font-size: 30px;
    color: #000;
}   

.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}


/* user settings */

.fasPadding {
    padding-left:5px;
}


/* z pages , top found results div */

.resultsDiv {
    background-color: #dfdfdf;
    padding: 10px;
    margin-left: 20px;
}


/* breadcrumb path, url path to subnavigations */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #fff;
}
ul.breadcrumb li {
display: inline;
font-size: 18px;
}
ul.breadcrumb li+li:before {
padding: 8px;
color: black;
content: "/\00a0";
}
ul.breadcrumb li a {
color: #0275d8;
text-decoration: none;
}
ul.breadcrumb li a:hover {
color: #000;
}





/* responsive css */

@media screen and (max-width: 790px) {
    /* header changes */
    .fa-user-cog{
        display: none!important;
    }
    #logoImg{
        display: none!important;
    }
    #alertBox_success{
        width: 100%!important;
    }
    #alertBox_fail{
        width: 100%!important;
    }
    #user_settings{
        width: 100%!important;
    }



}
